<h1><%= btc_and_usd @user.balance %></h1>

<p>
  Your current balance is determined by actions involving you (stories, votes, tips) and transactions (deposits and withdrawals). 
</p>
<p> 
  Check out <a href="">the about page</a> for more information on fees and where they go.
</p>

